<template>

    <div>
        <b-navbar toggleable="md" type="dark" variant="danger"

                  style="height: 50px;">
            <b-collapse is-nav id="nav_collapse">
                <b-navbar-nav>
                    <!--<b-nav-item :to="{ name: 'home' , params:{}}">Home</b-nav-item>-->
                    <!--<b-nav-item :to="{ name: 'list' , params:{} }">天譴</b-nav-item>-->
                    <!--<b-nav-item :to="{ name: 'comic' , params:{id:1} }">{{ this.comic_title }}</b-nav-item>-->
                    <b-nav-item v-for="(item,index) in menu" :to="{ name: item.to , params:item.params }" :key="index">{{ item.name }}</b-nav-item>
                </b-navbar-nav>
            </b-collapse>

        </b-navbar>

        <!--<div class="" style="height: calc(100% - 50px); margin-top: 50px; overflow-y: auto">-->
        <div class="" style="">
            <router-view></router-view>
        </div>
    </div>

</template>
<script>
    export default {
        created() {
            // console.log("-")
        },
        mounted() {
            // console.log("-")
            this.axios.get('/ajx/menu').then((response) => {
                console.log(response);
                this.menu = response.data;
            });
        },
        data() {
            return {
                comic_title: "天譴第一章",
                menu: []

            }
        }
    }
</script>