<template>
    <div v-if="data" style="text-align: center">
        <img style="max-width: 80%" v-for="image in data.images" :src="image.url"/>
    </div>

</template>

<script>
    export default {
        name: "Comic",
        created() {
            this.id = this.$route.params.id;
        },
        mounted() {

            console.log("我到了" + this.id);
            //這邊要用箭頭函式，this才能指向data的成員
            this.axios.get('/ajx/comic/' + this.id).then((response) => {
                console.log(response);
                this.data = response.data;
            });
        },
        data() {
            return {
                id: null,
                data: null,
            }
        }

    }
</script>

<style scoped>

</style>