<template>
    <div style="width: 100%;height: 100%;">
        <div style="width: 200px;float: left;height: 100%;overflow-y: auto;">
            <div class="hentai_icon" v-for="(icon , key) in icons" :style="icon.css" @click="getComicContent(key , icon.href)"></div>
        </div>
        <div style="width: calc(100% - 200px);height: 100%;float: left;overflow-y: auto;">
            <div class="div_show" v-for="img in imagesKey">
                <img class="img_show" :src="images[img]"/>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        name: "hentai",
        methods: {
            getComicContent(key, url) {

                let s_key = key.toString();
                this.getImageByUrl(s_key, url);
            },
            getImageByUrl(key, url) {
                if (this.images[key]) return;
                this.images[key] = "/img/load.gif";
                this.imagesKey = Object.keys(this.images);

                let params = new URLSearchParams();
                params.append('url', url);
                this.axios.post("/ajx/ex/get/img", params).then((response) => {
                    this.images[key] = response.data.url;
                    this.imagesKey = Object.keys(this.images);
                });
            }
        },
        mounted() {

            this.axios.post('/ajx/ex/get').then((response) => {
                // console.log(response);
                this.icons = response.data.list;
            });

        },
        data() {
            return {
                icons: [],
                test_css: "margin:1px auto 0; width:100px; height:142px; background:transparent url(https://exhentai.org/m/001322/1322983-00.jpg) -100px 0 no-repeat ;",
                images: {},
                imagesKey: []
            }
        },
        watch: {},
        computed: {}
    }
</script>

<style scoped>
    .hentai_icon:hover {
        border: 1px crimson solid;
    }

    .div_show {
        max-width: 100%;
    }

    .img_show {
        max-width: 95%;
    }
</style>