<template>
    <div>
        <p>我是首頁</p>
        <a v-if="login" :href="login">登入</a>
    </div>
</template>

<script>
    export default {
        mounted() {
            this.axios.get('/ajx/login/google').then((response) => {
                console.log(response);
                this.login = response.data.url;
            });
        },
        data() {
            return {
                name: "Home",
                login: null
            }
        }

    }
</script>

<style scoped>

</style>