<template>
    <div>
        <div v-if="comic">
            <b-table striped hover :items="comic.data" :fields="fields">
            <span slot="title" slot-scope="data">
                <router-link tag="a" :to="{ name: 'comic' , params:{id:data.item.id} }" v-text="data.value"></router-link>
            </span>
                <span slot="url" slot-scope="data">
                <img :src="data.value" class="img-thumbnail" style="max-width: 100px">
            </span>
            </b-table>
        </div>
        <div v-if="comic">
            <b-pagination-nav base-url="list?page=" v-model="currentPage" :number-of-pages="last"></b-pagination-nav>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Hello",
        created() {
            this.currentPage = parseInt(this.$route.query.page);
        },
        mounted() {
            console.log("我執行了");

            //這邊要用箭頭函式，this才能指向data的成員
            this.axios.get('/ajx/comic', {
                params: {
                    page: this.currentPage
                }

            }).then((response) => {
                console.log(response);
                this.comic = response.data.comic;
                this.last = parseInt(response.data.last);
            });
        },
        data() {
            return {
                comic: null,
                currentPage: null,
                fields: [
                    {
                        key: 'url',
                        label: '封面',
                        sortable: false
                    },
                    // {
                    //     key: 'id',
                    //     label: '編號',
                    //     sortable: true
                    // },
                    {
                        key: 'title',
                        label: '標題',
                        sortable: true
                    },
                    {
                        key: 'remark',
                        label: '備註',
                        sortable: false,
                        // Variant applies to the whole column, including the header and footer
                        // variant: 'danger'
                    },
                    {
                        key: 'created_at',
                        label: '建立時間',
                        sortable: true
                    },
                    {
                        key: 'updated_at',
                        label: '更新時間',
                        sortable: true
                    },

                ]
            };
        }
    }
</script>

<style scoped>

</style>