<template>
    <div class="hentai_image">
        <div class="hentai_status"></div>
        <img :src="url"/>
    </div>
</template>

<script>
    export default {
        name: "HentaiPage",

        data() {
            return {
                url: "/img/load.gif"
            }
        }
    }
</script>

<style scoped>
    .hentai_image {
        max-width: 90%;
        position: relative;
    }

    .hentai_status {
        right: 0;
        position: absolute;
        color: white;
        z-index: 2;
        height: 50px;
        width: 50px;
        background-color: red;
        opacity: 0;
    }

    .hentai_status:hover {
        opacity: 0.5;
    }

    img {
        width: 100%;
        position: relative;
        z-index: 0;
    }
</style>